@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <p>article <a href="https://localhost:44383/articlegeneriquemvc"> listes des articles</a>.</p>
    <p>client <a href="https://localhost:44383/clientmvc">listes des clients</a>.</p>
    <p>fournisseur <a href="https://localhost:44383/fournisseurmvc">listes des fournisseurs</a>.</p>


</div>
